<header>
  <nav id="top-menu" class="page-width" aria-label="Top menu">
    <ul>
      <li>
        <a id="sign-in-link" href="#">
          <i class="fas fa-user"></i>
          Sign in
        </a>
      </li>
      <li>
        <a id="checkout-link" href="#">
          <i class="fas fa-shopping-cart"></i>
          Checkout
        </a>
      </li>
    </ul>
  </nav>

  <img id="logo" src="img/GameHub_Logo.png" alt="Logo" />

  <nav id="main-menu" aria-label="Main menu">
    <div id="main-menu-inner" class="page-width">
      <ul>
        <li>
          <a class="active" href="index.html">Home</a>
        </li>
        <li>
          <a href="all-games.html">Games</a>
        </li>
        <li>
          <a href="contact.html">Contact</a>
        </li>
      </ul>
      <div id="search-box">
        <label for="search">Search</label>
        <input id="search" type="text" placeholder="Search for adventure" />
        <i class="fas fa-search"></i>
      </div>
    </div>
  </nav>
</header>
