<header>
  <nav id="top-menu" class="page-width" aria-label="Top menu">
    <ul>
      <li>
        <a id="sign-in-link" href="#">
          <i class="fas fa-user"></i>
          Sign in
        </a>
      </li>
      <li>
        <a id="checkout-link" href="checkout.html" {% if current_page == "checkout" %}class="active"{% endif %}>
          <i class="fas fa-shopping-cart"></i>
          Checkout
        </a>
      </li>
    </ul>
  </nav>

  <a href="index.html">
    <img id="logo" src="img/GameHub_Logo.png" alt="Logo" />
  </a>

  <nav id="main-menu" aria-label="Main menu">
    <div id="main-menu-inner" class="page-width">
      <ul>
        <li>
          <a href="index.html" {% if current_page == "front-page" %}class="active"{% endif %}>Home</a>
        </li>
        <li>
          <a href="all-games.html" {% if current_page == "all-games" %}class="active"{% endif %}>Games</a>
        </li>
        <li>
          <a href="contact.html" {% if current_page == "contact" %}class="active"{% endif %}>Contact</a>
        </li>
      </ul>
      <div id="search-box">
        <label for="search">Search</label>
        <input
          id="search"
          type="text"
          placeholder="Search for adventure"
          value="{{search_box_value}}"
        />
        <a href="search-result.html">
          <i class="fas fa-search"></i>
        </a>
      </div>
    </div>
  </nav>
</header>
