.page-width {
  width: 1650px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: calc(1650px * 1.04)) {
  .page-width {
    width: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    box-sizing: border-box;
  }
}

.game-discount,
.game-price {
  font: 20px Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.game-discount {
  background-color: #ff8100;
  color: #1b203d;
}

.game-price {
  background-color: #1b203d;
  color: #ff8100;
}

.button-row .button {
  margin-right: 10px;
}

.button {
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
  border: none;
  background-color: #1b203d;
  color: #ff8100;
}

.button.alt {
  background-color: transparent;
  color: #1b203d;
  border: 1px solid #1b203d;
}

.centered-link {
  margin-top: 25px;
  text-align: center;
  text-decoration: underline;
  color: #1b203d;
}

.card {
  padding: 20px;
  background-color: #e0dedb;
}

.definition-list dt {
  margin-bottom: 5px;
  font-weight: bold;
}

.definition-list dd {
  margin-bottom: 20px;
}

.left-arrow {
  border-top: 30px solid transparent;
  border-right: 50px solid #ff8100;
  border-bottom: 30px solid transparent;
}

.right-arrow {
  border-top: 30px solid transparent;
  border-left: 50px solid #ff8100;
  border-bottom: 30px solid transparent;
}

.hero {
  display: flex;
  justify-content: center;
  background-color: #e0dedb;
  padding: 70px 2vw 70px 2vw;
}
