.game-list {
  display: flex;
  flex-direction: column;
}

.game-list .game-list-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-bottom: 25px;
  background-color: #e0dedb;
}

.game-list .game-list-item:last-child {
  margin-bottom: 0px;
}

.game-list .game-list-item > div:first-child {
  overflow: hidden;
  width: 120px;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
}

.game-list .game-list-item img {
  position: relative;
  top: -27px;
  width: 100%;
  z-index: 0;
}

.game-list .game-list-item .game-description {
  padding: 0px 15px;
  flex-grow: 1;
}

.game-list .game-list-item .game-description h3 {
  font: bold 20px "Open Sans", sans-serif;
  margin: 0px;
  margin-bottom: 10px;
}

.game-list .game-list-item .game-description p {
  font: 16px "Open Sans", sans-serif;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.game-list .game-list-item .game-discount-and-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.game-list .game-list-item .game-discount,
.game-list .game-list-item .game-price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 50%;
}

.game-list .game-list-item .game-discount .pre-purchase {
  padding: 3px 7px;
  font: 14px "Open Sans", sans-serif;
  background-color: #fff740;
  transform: rotate(20deg);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
}

/*
 * Multi column game list.
 */

.game-list.multi-column {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.game-list.multi-column .game-list-item {
  width: calc(50% - 12.5px);
}

@media (max-width: 1200px) {
  .game-list.multi-column {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .game-list.multi-column .game-list-item {
    width: auto;
  }
}
