#checkout {
  background-color: #e0dedb;
  margin-bottom: 25px;
}

#checkout h2 {
  margin-bottom: 0px;
}

#checkout-content {
  height: 100px;
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin-left: 15px;
}

#purchase-button,
#gift-button {
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
}

#purchase-button {
  border-color: transparent;
  margin-right: 25px;
  background-color: #1b203d;
  color: #ff8100;
}

#gift-button {
  background-color: transparent;
  color: #1b203d;
  border-color: #1b203d;
}

#checkout-hero {
  display: flex;
  justify-content: center;
  background-color: #e0dedb;
  padding-top: 70px;
  padding-bottom: 70px;
}
