{% set title = "Account | Game Hub" %}
{% set description = "Game hub account page" %}
<!DOCTYPE html>
<html lang="en">
  {% include "fragments/head.html" %}

  <body>
    {% include "fragments/header.html" %}

    <main class="page-width">
      <h2 id="account-header">My account</h2>

      <div class="two-column-layout">
        <div>
          <section>
            <h3>Personal information</h3>
            <div class="card">
              <dl class="definition-list">
                <dt>Full Name</dt>
                <dd>Sir Arthas Menethil</dd>
                <dt>Birth date</dt>
                <dd>April 20th 1337</dd>
                <dt>Email</dt>
                <dd>lichking@frostpost.com</dd>
                <dt>Phone</dt>
                <dd>+47 12345678</dd>
                <dt>Country</dt>
                <dd>Lordaeron</dd>
              </dl>
              <button class="button">Edit information</button>
            </div>
          </section>
          <section class="page-section">
            <h3>Payment information</h3>
            <div id="payment-card" class="card">
              <div>Visa card - •••• •••• ••• 1234</div>
              <i class="fas fa-trash"></i>
            </div>
            <div class="centered-link">
              <a href="#">Add New</a>
            </div>
          </section>
        </div>
        <div>
          <section>
            <h3>Recent purchases</h3>
            <div class="game-list">
              <a class="game-list-item" href="#">
                <div>
                  <img
                    src="img/covers/GameHub_covers6.jpg"
                    alt="insert game name here"
                  />
                </div>
                <div class="game-description">
                  <h3>Space War</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam lacus ligula, sollicitudin at fringilla vel, faucibus
                    ullamcorper ante. Suspendisse porttitor, ligula ac vestibulum
                    ultrices, nibh leo tincidunt elit, quis consectetur dolor
                    sodales. Nam posuere quam lobortis pellentesque laoreet. Sed
                    vehicula aliquam mauris eu egestas. Fusce eu maximus sapien.
                    Nullam sed accumsan justo. Ut sit amet erat vehicula,
                    tincidunt mauris vel, finibus ex. Fusce quis erat eu velit
                    semper mollis condimentum ut tortor. Praesent vitae diam
                    purus. Sed blandit rutrum erat eu aliquet. Praesent posuere
                    nisl tristique felis consequat hendrerit. Nulla tincidunt
                    augue sem, vitae molestie ex ornare at.
                  </p>
                </div>
                <div class="game-discount-and-price">
                  <div class="game-price">150 kr</div>
                </div>
              </a>
              <a class="game-list-item" href="#">
                <div>
                  <img src="img/covers/GameHub_covers.jpg" alt="insert game name here" />
                </div>
                <div class="game-description">
                  <h3>Ping Pong Championship</h3>
                  <p>
                    Proin auctor felis id arcu dictum, nec varius orci interdum.
                    Donec nec sapien ac nisl vulputate imperdiet eu vitae neque.
                    Etiam consectetur in risus non ultrices. Nullam congue turpis
                    quis odio cursus aliquam. Nunc euismod odio nibh, id
                    ullamcorper quam imperdiet a. Cras sed dui diam. Etiam ac
                    iaculis elit, et sagittis nisl.
                  </p>
                </div>
                <div class="game-discount-and-price">
                  <div class="game-price">690 kr</div>
                </div>
              </a>
              <a class="game-list-item" href="#">
                <div>
                  <img
                    src="img/covers/GameHub_covers2.jpg"
                    alt="insert game name here"
                  />
                </div>
                <div class="game-description">
                  <h3>Super Duper</h3>
                  <p>
                    Fusce pharetra vitae orci ac tempus. Vivamus tincidunt arcu
                    ullamcorper purus maximus bibendum. Donec at rutrum arcu.
                    Mauris fermentum quam nulla, sed tincidunt quam cursus at.
                    Pellentesque sed condimentum turpis. Proin egestas tempus
                    nisl, vitae venenatis leo feugiat efficitur. Aliquam lacus
                    urna, pellentesque dapibus facilisis non, sagittis non diam.
                    Sed sit amet consectetur lorem, id viverra justo. Donec
                    ultricies est sit amet ante commodo tincidunt. Sed ultrices
                    eleifend mi.
                  </p>
                </div>
                <div class="game-discount-and-price">
                  <div class="game-price">10 kr</div>
                </div>
              </a>
              <a class="game-list-item" href="#">
                <div>
                  <img
                    src="img/covers/GameHub_covers3.jpg"
                    alt="insert game name here"
                  />
                </div>
                <div class="game-description">
                  <h3>Black</h3>
                  <p>Ut rutrum metus quis ullamcorper tempus.</p>
                </div>
                <div class="game-discount-and-price">
                  <div class="game-price">100 kr</div>
                </div>
              </a>
              <a class="game-list-item" href="#">
                <div>
                  <img
                    src="img/covers/GameHub_covers4.jpg"
                    alt="insert game name here"
                  />
                </div>
                <div class="game-description">
                  <h3>Furious</h3>
                  <p>
                    Pellentesque vitae sodales massa, a tincidunt nisi. Integer
                    porta ex nec eros dignissim ornare. Aenean luctus neque in
                    laoreet viverra. Fusce mauris felis, pellentesque eget ligula
                    tincidunt, ullamcorper venenatis nunc.
                  </p>
                </div>
                <div class="game-discount-and-price">
                  <div class="game-price">100 kr</div>
                </div>
              </a>
            </div>
            <div class="centered-link">
              <a href="#">View all</a>
            </div>
          </section>
        </div>
      </div>
    </main>

    {% include "fragments/footer.html" %}
  </body>
</html>
