{% set title = "All games | Game Hub" %}
{% set description = "Game Hub all games page" %}
{% set current_page = "all-games" %}
<!DOCTYPE html>
<html lang="en">
  {% include "fragments/head.html" %}

  <body>
    {% include "fragments/sign-in-modal.html" %}

    <div id="content">
      {% include "fragments/header.html" %}

      <main>
        <section class="page-width">
          <h2>All Games</h2>

          <div class="dropdown-wrapper">
            <p>Sort by</p>
            <button class="dropdown-button">Most popular</button>
            <div class="dropdown-content">
              <a href="#">Most Wishlisted</a>
              <a href="#">Highest Ratings</a>
            </div>
          </div>

          <div class="game-list multi-column">
            Loading games...
          </div>

          <div id="view-more-link" class="centered-link">
            <a href="#">View more</a>
          </div>
        </section>
      </main>

      {% include "fragments/footer.html" %}
    </div>
  </body>
</html>
