{% set title = "Checkout success | Game Hub" %}
{% set description = "Game Hub checkout was successful" %}
<!DOCTYPE html>
<html lang="en">
  {% include "fragments/head.html" %}

  <body>
    {% include "fragments/header.html" %}

    <main>
      <section>
        <div id="checkout-hero">
          <div>
            <h2>Successful Purchase</h2>
            <p>Receipt has been sent to your email address.</p>
            <p>Ordernumber: #3347000000</p>
            <p>Adventure awaits!</p>
          </div>
        </div>

        <button id="continue-button" class="button">Continue shopping</button>
      </section>
    </main>

    {% include "fragments/footer.html" %}
  </body>
</html>
