{% set title = "Contact | Game Hub" %}
{% set description = "Game Hub contact information and a neat map" %}
{% set current_page = "contact" %}
<!DOCTYPE html>
<html lang="en">
  {% include "fragments/head.html" %}

  <body>
    {% include "fragments/sign-in-modal.html" %}

    <div id="content">
      {% include "fragments/header.html" %}

      <main>
        <section id="contact-wrapper" class="page-width">
          <div>
            <img id="contact-map" src="img/mapscutout.jpg" alt="Location map" />
          </div>

          <div>
            <h2>Our offices</h2>

            <dl class="definition-list">
              <dt>Address</dt>
              <dd>79.498774, 23.954553</dd>

              <dt>Phone</dt>
              <dd>815-GAMEHUB (815-4263-428)</dd>

              <dt>Email</dt>
              <dd>post@gamehub.com</dd>
            </dl>

            <p>
              We encourage all our customers to stop on by for an ice cold Mønster
              and a round of &lt;insert computer game here&gt;.
            </p>
          </div>
        </section>
      </main>

      {% include "fragments/footer.html" %}
    </div>
  </body>
</html>
